* {
  scroll-behavior: smooth;
}

div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.first{
  background: url('images/reactimage.jpeg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  color: white;
  text-align: center;
}

.intro{
  background: inherit;
  width: calc(100% - 15vw);
  height: calc(100% - 15vh);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px 0;
}

.intro:before{
 content: '';
 background: inherit;
 position: absolute;
 left: 0;
 right: 0;
 top: 0;
 bottom: 0;
 box-shadow: inset 0 0 0 3000px rgba(255,255,255,0.3);
 filter: blur(10px);
}

.intro-wrapper{
  position: absolute;
}

#grin{
  font-size: 80px;
  text-align: center;
}

.second{
  background: url('images/back2.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  color: black;
  text-align: center;
}

.about{
  width: calc(100% - 20vw);
  height: calc(100% - 35vh);
  background: linear-gradient(85deg, #fff1e6, #f0efeb);
  -webkit-box-shadow: inset 3px -20px 112px 14px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 3px -20px 112px 14px rgba(0,0,0,0.75);
  box-shadow: inset 3px -20px 112px 14px rgba(0,0,0,0.75);
  opacity: 0.7;
  font-size: 25px;
  overflow: auto;
}

.about h1 {
    color: #264653;
    font-weight: 500;
    font-size: 5rem;
}

.about p{
  color: #264653;
    font-weight: 500;
    font-size: 2rem;
}

#darpic{
  width: 10vw;
  height: 25vh;
}

.nav{
  position: sticky;
  top: 0;
  z-index: 2;
  background: #444;
  flex-direction: row;
}

.nav a{
  color: #f2f2f2;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
  width: 25vw;
  text-decoration: none;
  font-size: 17px;
}

.nav a:link {
    text-decoration:none;
    color: white;
}


.nav a:visited {
    text-decoration:none;
    color: white;
}

.nav a:hover {
    text-decoration:none;
    color: black;
    background: linear-gradient(85deg, #e9ecef, #dee2e6);
}

.nav a:active {
    text-decoration:none;
    color: white;
}

#proj{
  background: url('images/code.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  color: black;
}

.row{
  align-items: center;
}

.con{
  background: white;
  width:  25vw;
  height: 25vh;
  transform: scale(1);
  transition: all .5s;
}

.con2{
  margin-top: 2rem;
  background: white;
  width:  25vw;
  height: 25vh;
  transform: scale(1);
  transition: all .5s;
}

.con:hover{
  transform: scale(1.1);
  transition: all .5s;
}

.con2:hover{
  transform: scale(1.1);
  transition: all .5s;
}


.card{
  font-weight: 500;
  background: linear-gradient(85deg, #f1faee, #a8dadc);
}

.proj{
color: #83c5be;
background: linear-gradient(85deg, #3d405b, #81b29a);
-webkit-box-shadow: inset -5px -5px 32px 65px rgba(0,0,0,0.59);
-moz-box-shadow: inset -5px -5px 32px 65px rgba(0,0,0,0.59);
box-shadow: inset -5px -5px 32px 65px rgba(0,0,0,0.59);
padding: .5rem 6vh .5rem;
}


.fit-image{
  width: 100%;
 object-fit: cover;
 height: 100%;
}


#link{
  background: linear-gradient(85deg, #219ebc, #023047);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  color: black;
  align-items: center;
}

#link h1{
  text-align: center;
  position: relative;
  color: #06d6a0;
  bottom: 4rem;
  font-size: 65px;
}

.linkz{
  position: relative;
  top: 2rem;
}

.fb{
  font-size: calc(100% + 2vw + 2vh);
  height: 10vh;
  width: 30vw;
  flex-direction: row;
  transform: scale(1);
  transition: all .5s;
}

.twt{
  font-size: calc(100% + 2vw + 2vh);
  height: 10vh;
  width: 30vw;
  flex-direction: row;
  transform: scale(1);
  transition: all .5s;
}

.disc{
  font-size: calc(100% + 2vw + 2vh);
  height: 10vh;
  width: 30vw;
  flex-direction: row;
  transform: scale(1);
  transition: all .5s;
}


#linktext{
  font-size: 0px;
  margin-left: .5vw;
}

#icon{
  margin-top: .2rem;
  margin-left: .5vw;
}

.fb:hover{
  justify-content: flex-start;
  background: linear-gradient(85deg, #a8dadc, #457b9d);
  font-size: calc(100% + 1.5vw + 1.5vh);
  -webkit-box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.75);
}

.fb:hover #linktext{
  font-size: calc(50% + .8vw + .8vh);
  text-align: center;
}

.twt:hover{
  justify-content: flex-start;
  background: linear-gradient(85deg, #ade8f4, #ade8f4);
  -webkit-box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.75);
}

.twt:hover #linktext{
  font-size: calc(50% + .5vw + .5vh);
  text-align: center;
}

.fb:hover #icon{
  color: blue;
}

.twt:hover #icon{
  color: #00b4d8;
}

.disc:hover{
  justify-content: flex-start;
  background: linear-gradient(85deg, #8d99ae, #2b2d42);
  -webkit-box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.75);
}

.disc:hover #linktext{
  font-size: calc(50% + .5vw + .5vh);
  text-align: center;
}

.link a:link {
    text-decoration:none;
    color: inherit;
}

.link a:visited {
    text-decoration:none;
    color: inherit;
}

.link a:hover {
    text-decoration:none;
    color: inherit;
}

.link a:active {
    text-decoration:none;
    color: inherit;
}


#outro{
  text-align: center;
  position: relative;
  top: 6rem;
}




/* Media Queries */


/* Tablet and Above Portrait */
@media all and (max-width: 768px){

  .nav a{
    font-size: .5rem;
  }

  .card{
    font-size: 20px;
  }

  .con{
    position: relative;
    top: 2rem;
  }

  .con2{
    position: relative;
    top: 6rem;
  }

  #darpic{
  width: 35vw;
  }

  .fb{
    flex-direction: column;
  }

  .fb:hover #linktext{
    font-size: calc(50% + .4vw + .4vh);
  }

  .twt{
    flex-direction: column;
  }

  .twt:hover #linktext{
    font-size: calc(50% + .1vw + .1vh);
  }

  .disc{
    flex-direction: column;
  }

  .disc:hover #linktext{
    font-size: calc(50% + .1vw + .1vh);
  }

}



/*Tablet and Above Landscape */

@media all and (max-width: 1024px) and (orientation: landscape){


  .nav a{
    font-size: 1.5rem;
  }

  #darpic{
  width: 20vw;
  }

  .fb{
    flex-direction: row;
  }

  .fb:hover #linktext{
    font-size: calc(50% + .6vw + .6vh);
  }

  .twt{
    flex-direction: row;
  }

  .twt:hover #linktext{
    font-size: calc(50% + .4vw + .4vh);
  }

  .disc{
    flex-direction: row;
  }

  .disc:hover #linktext{
    font-size: calc(50% + .4vw + .4vh);
  }
}



/*Laptop and Above Portrait*/
@media all and (max-width: 1024px) and (orientation: portrait){

  .nav a{
    font-size: 45px;
  }

  .intro-wrapper h1{
    font-size: 60px;
  }

  .intro-wrapper h2{
    font-size: 50px;
  }

  #darpic{
     width: 30vw;
  }

  .about p{
    font-size: 3rem;
  }

  .con{
    position: relative;
    top: 2rem;
  }

  .con2{
    position: relative;
    top: 6rem;
  }

  .card{
    font-size: 25px;
  }

  .fb{
    flex-direction: column;
  }

  .fb:hover #linktext{
    font-size: calc(50% + .4vw + .4vh);
  }

  .twt{
    flex-direction: column;
  }

  .twt:hover #linktext{
    font-size: calc(50% + .1vw + .1vh);
  }

  .disc{
    flex-direction: column;
  }

  .disc:hover #linktext{
    font-size: calc(50% + .1vw + .1vh);
  }
}


@media all and (min-width: 1440px){
  .nav a{
    font-size: 2rem;
  }

  #darpic{
    width: 15vw;
  }
  .con2{
    position: relative;
    top: 4rem;
  }
  .card{
    font-size: 25px;
  }
}

@media all and (min-width: 2560px){
  #darpic{
    width: 10vw;
  }

  .intro-wrapper h1{
    font-size: 60px;
  }

  .intro-wrapper h2{
    font-size: 50px;
  }

  .about p{
    font-size: 3rem;
  }

  .card{
    font-size: 2rem;
  }
}





/* MOBILE L and Below */
@media all and (max-width: 420px){

  .nav a{
    font-size: 1rem;
  }

  .intro-wrapper h1{
    font-size: 30px;
  }

  .intro-wrapper h2{
    font-size: 20px;
  }

  #darpic{
    width: 40vw;
  }

  .about h1{
    font-size: 50px;
  }

  .about p{
    position: relative;
    bottom: 2rem;
    font-size: 18px;
  }

  .con2{
    position: relative;
    top: 4rem;
  }

  .card{
    font-size: 15px;
  }


  .fb{
    flex-direction: column;
  }

  .fb:hover #linktext{
    font-size: calc(35% + .4vw + .4vh);
  }

  .twt{
    flex-direction: column;
  }

  .twt:hover #linktext{
    font-size: calc(35% + .1vw + .1vh);
  }


  .disc{
    flex-direction: column;
  }

  .disc:hover #linktext{
    font-size: calc(35% + .1vw + .1vh);
  }
}


/* MOBILE L and Below Landscape */
@media all and (max-width: 812px) and (orientation: landscape){

  .nav a{
    font-size: 1rem;
  }

  .intro-wrapper h1{
    font-size: 30px;
  }

  .intro-wrapper h2{
    font-size: 25px;
  }

  #darpic{
  width: 15vw;
  }

  .about h1{
    font-size: 2rem;
  }

  .about p{
    position: relative;
    bottom: 2rem;
    font-size: 1rem;
  }

  .card{
    font-size: 10px;
  }

  .row{
    position: relative;
    bottom: 1.5rem;
  }

  .fb{
    flex-direction: row;
  }

  .fb:hover #linktext{
    font-size: calc(55% + .4vw + .4vh);
  }

  .twt{
    flex-direction: row;
  }

  .twt:hover #linktext{
    font-size: calc(50% + .1vw + .1vh);
  }


  .disc{
    flex-direction: row;
  }

  .disc:hover #linktext{
    font-size: calc(45% + .1vw + .1vh);
  }
}

@media all and (min-width: 540px) and (max-width: 541px){
  .con2{
    position: relative;
    top: 2rem;
  }
  .nav a{
    font-size: 1rem;
  }

  .intro-wrapper h1{
    font-size: 30px;
  }

  .intro-wrapper h2{
    font-size: 25px;
  }

  .about h1{
    font-size: 2rem;
  }

  .about p{
    font-size: 1rem;
  }

  .con2{
    position: relative;
    top: 4rem;
  }
}

@media all and (min-width: 280px) and (max-width: 540px){
  .card{
    font-size: 12px;
  }
}

@media all and (min-width: 560px) and (max-width: 823px){
  .con2{
    position: relative;
    top: 2rem;
  }

}




/* Iphone 5, Galaxy Fold, Moto G4, Galaxy S5  Landscape*/

@media all and (max-width: 655px) and (orientation: landscape){
  #darpic{
    width: 10vw;
  }

  .proj{
    position: relative;
    bottom: 1rem;
    width: 8rem;
    height: 2.5rem;
    font-size: 20px;
    text-align: center;
  }

  .row{
    position: relative;
    bottom: 4rem;
  }


  .link{
    bottom: 2rem;
  }

  #outro{
    position: relative;
    top: 2rem;
  }
}
