* {
  scroll-behavior: smooth;
}

div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nav{
  position: sticky;
  top: 0;
  z-index: 2;
  background: #444;
  flex-direction: row;
}

.nav a{
  color: #f2f2f2;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
  width: 25vw;
  text-decoration: none;
  font-size: 1.5em;
}

.nav a:link {
    text-decoration:none;
    color: white;
}


.nav a:visited {
    text-decoration:none;
    color: white;
}

.nav a:hover {
    text-decoration:none;
    color: black;
    background: linear-gradient(85deg, #e9ecef, #dee2e6);
}

.nav a:active {
    text-decoration:none;
    color: white;
}


.first{
  background: url('images/reactimage.jpeg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  color: white;
  text-align: center;
}

.intro{
  background: inherit;
  width: calc(100% - 15vw);
  height: calc(100% - 15vh);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1.25em 0;
}

.intro:before{
 content: '';
 background: inherit;
 position: absolute;
 left: 0;
 right: 0;
 top: 0;
 bottom: 0;
 box-shadow: inset 0 0 0 187.5em rgba(255,255,255,0.3);
 filter: blur(10px);
}

.intro-wrapper{
  position: absolute;
}

#grin{
  font-size: 5em;
  text-align: center;
}

.second{
  background: url('images/back2.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  color: black;
  text-align: center;
}

.about{
  width: calc(100% - 20vw);
  height: calc(100% - 35vh);
  background: linear-gradient(85deg, #fff1e6, #f0efeb);
  -webkit-box-shadow: inset 3px -20px 112px 14px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 3px -20px 112px 14px rgba(0,0,0,0.75);
  box-shadow: inset 3px -20px 112px 14px rgba(0,0,0,0.75);
  opacity: 0.7;
  font-size: 1.5625em;
  overflow: auto;
}

.about h1 {
    color: #264653;
    font-weight: 500;
    font-size: 2em;
}

.about p{
  color: #264653;
    font-weight: 500;
    font-size: 1em;
}

#darpic{
  width: 8em;
  height: 8em;
}


#proj{
  background: url('images/code.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  color: black;
}

.proj{
color: #83c5be;
background: linear-gradient(85deg, #3d405b, #81b29a);
-webkit-box-shadow: inset -5px -5px 32px 65px rgba(0,0,0,0.59);
-moz-box-shadow: inset -5px -5px 32px 65px rgba(0,0,0,0.59);
box-shadow: inset -5px -5px 32px 65px rgba(0,0,0,0.59);
padding: .5em 1em .5em;
}

.row{
  align-items: center;
}

.con{
  background: white;
  width:  25vw;
  height: 25vh;
  transform: scale(1);
  transition: all .5s;
}

.con2{
  position: relative;
  top: 4em;
  background: white;
  width:  25vw;
  height: 25vh;
  transform: scale(1);
  transition: all .5s;
}

.con:hover{
  transform: scale(1.1);
  transition: all .5s;
}

.con2:hover{
  transform: scale(1.1);
  transition: all .5s;
}

.card{
  font-weight: 500;
  background: linear-gradient(85deg, #f1faee, #a8dadc);
}

.fit-image{
 width: 100%;
 object-fit: cover;
 height: 100%;
}






#link{
  background: linear-gradient(85deg, #219ebc, #023047);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  color: black;
  align-items: center;
}

#link h1{
  text-align: center;
  position: relative;
  color: #06d6a0;
  bottom: 2em;
  font-size: 4.0625em;
}

.linkz{
  position: relative;
  top: 2em;
}

.fb{
  font-size: 3em;
  height: 10vh;
  width: 30vw;
  flex-direction: row;
  transform: scale(1);
  transition: all .5s;
}

.twt{
  font-size: 3em;
  height: 10vh;
  width: 30vw;
  flex-direction: row;
  transform: scale(1);
  transition: all .5s;
}

.disc{
  font-size: 3em;
  height: 10vh;
  width: 30vw;
  flex-direction: row;
  transform: scale(1);
  transition: all .5s;
}


#linktext{
  font-size: 0;
  margin-left: .5em;
}

#icon{
  margin-left: .5em;
}

.fb:hover{
  justify-content: flex-start;
  background: linear-gradient(85deg, #a8dadc, #457b9d);
  -webkit-box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.75);
}

.fb:hover #linktext{
  font-size: .8em;
  text-align: center;
}

.fb:hover #icon{
  color: blue;
}

.twt:hover{
  justify-content: flex-start;
  background: linear-gradient(85deg, #ade8f4, #ade8f4);
  -webkit-box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.75);
}

.twt:hover #linktext{
  font-size: .8em;
  text-align: center;
}

.twt:hover #icon{
  color: #00b4d8;
}

.disc:hover{
  justify-content: flex-start;
  background: linear-gradient(85deg, #8d99ae, #2b2d42);
  -webkit-box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.75);
}

.disc:hover #linktext{
  font-size: .8em;
  text-align: center;
}

.link a:link {
    text-decoration:none;
    color: inherit;
}

.link a:visited {
    text-decoration:none;
    color: inherit;
}

.link a:hover {
    text-decoration:none;
    color: inherit;
}

.link a:active {
    text-decoration:none;
    color: inherit;
}


#outro{
  text-align: center;
  position: relative;
  top: 4em;
  margin: 0 1em 0;
}

.row a:link {
    text-decoration:none;
    color: black;
}

.row a:visited {
    text-decoration:none;
    color: black;
}

.row a:hover {
    text-decoration:none;
    color: black;
}

.row a:active {
    text-decoration:none;
    color: black;
}



/* Media Queries */


/* (smaller phone viewpoints) */
@media all and (min-width: 17em){

  .nav a{
    font-size: 1em;
  }

  .about p{
    font-size: .8em;
  }

  .card{
    font-size: .8em;
  }

  #icon{
    margin-left: 0;
  }
  .fb:hover{
    justify-content: center;
    background: linear-gradient(85deg, #a8dadc, #457b9d);
    -webkit-box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.75);
  }

  .fb:hover #linktext{
    font-size: 0;
  }

  .fb:hover #icon{
    color: blue;
  }

  .twt:hover{
    justify-content: center;
    background: linear-gradient(85deg, #ade8f4, #ade8f4);
    -webkit-box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.75);
  }

  .twt:hover #linktext{
    font-size: 0;
  }

  .twt:hover #icon{
    color: #00b4d8;
  }

  .disc:hover{
    justify-content: center;
    background: linear-gradient(85deg, #8d99ae, #2b2d42);
    -webkit-box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.75);
  }

  .disc:hover #linktext{
    font-size: 0;
  }

}

/* (small devices and most phones) */
@media all and (min-width: 34.375em){
  .about p{
    font-size: .6em;
  }

  #proj{
    justify-content: flex-start;
  }

  .proj{
    padding: .1em .5em .1em;
  }

  #link h1{
    bottom: 1em;
  }

  #outro{
    top: 2em;
  }

  .fb{
    width: 25vw;
    height: 15vh;
  }

  .twt{
    width: 25vw;
    height: 15vh;
  }

  .disc{
    width: 25vw;
    height: 15vh;
  }

  .con2{
    top: 3em;
  }
}

/* (most tablets) */
@media all and (min-width: 48em){
  .nav a{
    font-size: 1.5em;
  }

  .about h1{
    font-size: 4em;
  }

  .about p{
    font-size: 1.5em;
  }

  #proj{
    justify-content: center;
  }

  .con{
    position: relative;
    bottom: 2em;
  }

  .con2{
    top: 6em;
  }

  .card{
    font-size: 1.5em;
  }

  .proj{
    position: relative;
    bottom: 2em;
  }


  .fb{
    font-size: 3em;
    height: 10vh;
    width: 30vw;
    flex-direction: row;
    transform: scale(1);
    transition: all .5s;
  }

  .twt{
    font-size: 3em;
    height: 10vh;
    width: 30vw;
    flex-direction: row;
    transform: scale(1);
    transition: all .5s;
  }

  .disc{
    font-size: 3em;
    height: 10vh;
    width: 30vw;
    flex-direction: row;
    transform: scale(1);
    transition: all .5s;
  }

  #linktext{
    font-size: 0;
    margin-left: .5em;
  }

  #icon{
    margin-left: .5em;
  }

  .fb:hover{
    justify-content: flex-start;
    background: linear-gradient(85deg, #a8dadc, #457b9d);
    -webkit-box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.75);
  }

  .fb:hover #linktext{
    font-size: .6em;
    text-align: center;
  }

  .fb:hover #icon{
    color: blue;
  }

  .twt:hover{
    justify-content: flex-start;
    background: linear-gradient(85deg, #ade8f4, #ade8f4);
    -webkit-box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.75);
  }

  .twt:hover #linktext{
    font-size: .4em;
    text-align: center;
  }

  .twt:hover #icon{
    color: #00b4d8;
  }

  .disc:hover{
    justify-content: flex-start;
    background: linear-gradient(85deg, #8d99ae, #2b2d42);
    -webkit-box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.75);
  }

  .disc:hover #linktext{
    font-size: .6em;
    text-align: center;
  }

}

/* (smaller desktop viewpoints) */
@media all and (min-width: 62em){
  .twt:hover #linktext{
    font-size: .6em;
    text-align: center;
  }

  .about h1{
    font-size: 2em;
  }

  .about p{
    font-size: 1.2em;
  }

  .con2{
    top: 4em;
  }
}


/* Ipad Pro */
@media all and (min-width: 62em) and (orientation: portrait){
  .nav a{
    font-size: 1.8em;
  }

  .about p{
    font-size: 2em;
  }

  .con2{
    top:8em;
  }

  .card{
    font-size: 2em;
  }

  .fb:hover #linktext{
    font-size: .8em;
    text-align: center;
  }

  .disc:hover #linktext{
    font-size: .8em;
    text-align: center;
  }
}

/* (large devices and wide screens) */
@media all and (min-width: 75em){

  .fb{
    font-size: 3.5em;
  }

  .twt{
      font-size: 3.5em;
  }

  .disc{
      font-size: 3.5em;
  }

  .fb:hover #linktext{
    font-size: .8em;
    text-align: center;
  }

  .twt:hover #linktext{
    font-size: .6em;
    text-align: center;
  }

  .disc:hover #linktext{
    font-size: .8em;
    text-align: center;
  }
}
